<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.cannonball">
		<category id="menu" label="30036" help="30037">
			<group id="1">
				<setting id="cannonball_menu_enabled" type="string" label="30001" help="30038">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_menu_road_scroll_speed" type="string" label="30002" help="30039">
					<level>0</level>
					<default>50</default>
					<constraints>
						<options>
							<option>5</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
							<option>40</option>
							<option>50</option>
							<option>60</option>
							<option>70</option>
							<option>80</option>
							<option>90</option>
							<option>100</option>
							<option>150</option>
							<option>200</option>
							<option>300</option>
							<option>400</option>
							<option>500</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="video" label="30040" help="30041">
			<group id="1">
				<setting id="cannonball_video_fps" type="string" label="30003" help="30042">
					<level>0</level>
					<default>Smooth (60)</default>
					<constraints>
						<options>
							<option>Low (30)</option>
							<option>Smooth (60)</option>
							<option>Ultra Smooth (120)</option>
							<option>Original (60/30)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_video_widescreen" type="string" label="30004" help="30043">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_video_hires" type="string" label="30005" help="30044">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="audio" label="30045" help="30046">
			<group id="1">
				<setting id="cannonball_sound_enable" type="string" label="30006" help="30047">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_sound_custom_wav_volume" type="string" label="30030" help="30048">
					<level>0</level>
					<default>200</default>
					<constraints>
						<options>
							<option label="30049">0</option>
							<option label="30050">10</option>
							<option label="30051">20</option>
							<option label="30052">30</option>
							<option label="30053">40</option>
							<option label="30054">50</option>
							<option label="30055">60</option>
							<option label="30056">70</option>
							<option label="30057">80</option>
							<option label="30058">90</option>
							<option label="30059">100</option>
							<option label="30060">110</option>
							<option label="30061">120</option>
							<option label="30062">130</option>
							<option label="30063">140</option>
							<option label="30064">150</option>
							<option label="30065">160</option>
							<option label="30066">170</option>
							<option label="30067">180</option>
							<option label="30068">190</option>
							<option label="30069">200</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_sound_advertise" type="string" label="30007" help="30070">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_sound_preview" type="string" label="30008" help="30071">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_sound_fix_samples" type="string" label="30009" help="30072">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="input" label="30073" help="30074">
			<group id="1">
				<setting id="cannonball_gear" type="string" label="30010" help="30075">
					<level>0</level>
					<default>Manual</default>
					<constraints>
						<options>
							<option>Manual</option>
							<option>Manual Cabinet</option>
							<option>Manual 2 Buttons</option>
							<option>Automatic</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_analog" type="string" label="30011" help="30076">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_steer_speed" type="string" label="30012" help="30077">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_pedal_speed" type="string" label="30013" help="30078">
					<level>0</level>
					<default>4</default>
					<constraints>
						<options>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_haptic_strength" type="string" label="30014" help="30079">
					<level>0</level>
					<default>10</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="engine" label="30080" help="30081">
			<group id="1">
				<setting id="cannonball_jap" type="string" label="30015" help="30082">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_freeplay" type="string" label="30016" help="30083">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_force_ai" type="string" label="30017" help="30084">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_grippy_tyres" type="string" label="30031" help="30085">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_offroad_tyres" type="string" label="30032" help="30086">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_strong_bumper" type="string" label="30033" help="30087">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_faster_car" type="string" label="30034" help="30088">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_car_color" type="string" label="30035" help="30089">
					<level>0</level>
					<default>RED</default>
					<constraints>
						<options>
							<option>RED</option>
							<option>BLUE</option>
							<option>YELLOW</option>
							<option>GREEN</option>
							<option>CYAN</option>
							<option>BLACK</option>
							<option>WHITE</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_dip_time" type="string" label="30018" help="30090">
					<level>0</level>
					<default>Easy (80s)</default>
					<constraints>
						<options>
							<option>Easy (80s)</option>
							<option>Normal (75s)</option>
							<option>Hard (72s)</option>
							<option>Very Hard (70s)</option>
							<option>Infinite Time</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_dip_traffic" type="string" label="30019" help="30091">
					<level>0</level>
					<default>Normal</default>
					<constraints>
						<options>
							<option>Easy</option>
							<option>Normal</option>
							<option>Hard</option>
							<option>Very Hard</option>
							<option>No Traffic</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_level_objects" type="string" label="30020" help="30092">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_prototype" type="string" label="30021" help="30093">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_new_attract" type="string" label="30022" help="30094">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_randomgen" type="string" label="30023" help="30095">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_fix_bugs" type="string" label="30024" help="30096">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option>ON</option>
							<option>OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_fix_timer" type="string" label="30025" help="30097">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_ttrial_laps" type="string" label="30026" help="30098">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_ttrial_traffic" type="string" label="30027" help="30099">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_cont_traffic" type="string" label="30028" help="30100">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="cannonball_layout_debug" type="string" label="30029" help="30101">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option>OFF</option>
							<option>ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
